*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Akshar', sans-serif;
}

header{
     background-color:black;
    width: 100%;
     position:fixed;
    z-index: 10000;
     display: flex;
     display: ;
     justify-content:space-between;
    align-items: center;
     padding: 20px 170px;
    position: relative;
    }
    
    .navigation a:hover{
   margin: 0;
   padding: 0;
    }
    .logo{
     text-decoration: none;
     color: wheat;
     text-transform: uppercase;
     font-weight: 850;
     font-size: 2.0em;
    }
    .navigation a{
     color: wheat;
    text-decoration: none;
     font-size: 1.0em;
     font-weight: 500;
     padding-left: 30px;
    text-transform: uppercase;
    }
    .navigation a:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: brown;
     font-weight:500 ;
       font-size:1.3em;
    }
    section{
     padding: 40px 100px}


body{

 
 background-color: whitesmoke;
 
 justify-content:center;

 
}
.about{
    width:100%;
    padding:78px 0px;
    

}
.about img{
    height:500px;
    width: 420px;
   border-radius: 50%;
   
}
.about-text{
    width:550;
    margin-left: 100px;
}
.main{
    width: 1130px;
    max-width:95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: brown;
}
.about-text p{
    color: #black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background: brown;
    color: wheat;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background: transparent;
    border: 2px solid brown;
    cursor:pointer;
}
